.wrapper {
  display: flex;
  align-items: center;

  a {
    text-decoration: none !important;
    color: white !important;
  }
}

.moveRight {
  margin-left: auto;
}

.centerSearch {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: calc(100vw - 350px);
  margin: auto;
  & > div {
    min-width: 250px;
  }
}

.openDialogButton {
  border-radius: 50% !important;
  margin-right: 10px;
}
